.react-datepicker__header {
  background: rgba(37, 188, 205, 1) !important;
  border-bottom: 1px solid transparent !important;
}
.react-datepicker {
  border: none !important;
  border: 2px solid white !important;
  transition: all 300ms;
  box-shadow: 0px 0px 5px 2px white;

  animation: calendar 0.3s ease-in;
}
@keyframes calendar {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected:active,
.react-datepicker__day--selected:hover {
  border: 3px solid rgba(37, 188, 205, 1) !important;

  background: transparent !important;
}
.react-datepicker__day--keyboard-selected {
  border: 3px solid #216ba5 !important;
  /* background: rgba(37, 188, 205, 0.2) !important; */
}

.react-datepicker__current-month {
  color: white !important;
}
.react-datepicker__day-name {
  color: white !important;
  font-weight: bold;
}
.react-datepicker__day {
  color: white !important;
  color: rgba(37, 208, 205, 0.9) !important;
}
.react-datepicker__month {
  background: rgba(37, 208, 205, 0.9) !important;
  background: white !important;
  font-weight: bold;
}
.react-datepicker__triangle {
  border-bottom-color: white !important;
}
.react-datepicker__navigation--previous {
  border-right-color: white !important;
}
.react-datepicker__navigation--next {
  border-left-color: white !important;
}
